{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <label>Old password:</label>
            <input autocomplete="off" autofocus class="form-control" name="Old password" placeholder="Enter password" type="password">
        <a class="nav-link small" href="/forgetpassword">forgot password</a>
        </div>
        <div class="form-group">
            <label>New password:</label>
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Enter password" type="password">
        </div>
        <div class="form-group">
            <label>Re-type password:</label>
            <input autocomplete="off" autofocus class="form-control" name="Re-enter password" placeholder="Re-type password" type="password">
        </div>

        <button class="btn btn-primary color" type="submit">Change</button>
    </form>
{% endblock %}
