{% extends "layout.html" %}

{% block title %}
    forget password
{% endblock %}

{% block main %}
    <form action="/forgetpassword" method="post">
        <div class="form-group">
            <label>Username:</label>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Enter your username" type="text">
        </div>
        <div class="form-group">
            <label>Serial number:</label>
            <input autocomplete="off" autofocus class="form-control" name="serial" placeholder="Enter your serial number" type="password">
        </div>

        <button class="btn btn-primary color" type="submit">Get</button>
    </form>
{% endblock %}
