{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/history" method="post">
        <div class="form-group">
            <caption>Transaction History</caption>
            <table style="width:100%">
                <tr>
                    <th>Symbol</th>
                    <th>Number</th>
                    <th>Share Price</th>
                    <th>Total Price</th>
                    <th>Time</th>
                </tr>
                    {% for i in range(length) %}
                <tr>
                    <th>{{symbols[i]}}</th>
                    <th>{{numbers[i]}}</th>
                    <th>{{prices[i]}}$</th>
                    <th>{{prices[i]*numbers[i]}}$</th>
                    <th>{{time[i]}}</th>
                </tr>
                    {% endfor %}
            </table>
        </div>
    </form>
{% endblock %}
